body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.card {
    display: inline-block;
    border: 1px solid #333;
    background: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}